#customAlertBar {
  margin-bottom: 0 !important;
  bottom: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 5px !important;
  position: absolute;
  border-radius: 0 0 0.25rem 0.25rem;
}

.sidebar {
  width: 270px;
  position: fixed;
  left: 0;
  padding-top: 55px;
  height: 100vh;
  overflow: hidden;
  z-index: 9;
  /* background-color: #343c49; */
  /* box-shadow: 3px 0 10px rgba(0,0,0,.2); */
  /* box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2); */
}

.content{
  padding-top: 70px;
}

.toast {
  z-index: 1100;
  min-width: 250px;
}

.latest-activity {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
          box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.latest-1 {
  border-color: #CFD8DC;
}
.latest-2 {
  border-color: #B0BEC5;
}
.latest-3 {
  border-color: #90A4AE;
}
.latest-4 {
  border-color: #78909C;
}
.latest-5 {
  border-color: #607D8B;
}
.latest-6 {
  border-color: #546E7A;
}

@media (min-width: 992px) {
  .content {
    padding: 80px 10px 0 280px;
  }

  .sidebar {    
    transition: transform 300ms, opacity 300ms;
  }
}

@media (max-width: 991px) {
  .sidebar {    
    transition: transform 300ms, opacity 300ms;
  }

  .sidebar:not(.toggled) {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  .sidebar.toggled {
    /* box-shadow: 3px 0 10px rgba(0,0,0,.2); */
    /* box-shadow: 5px 0 10px rgba(0, 0, 0, 0.08); */
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*
*
INDEX SIDEBAR OLD
*
*/
/* .app {
  overflow-x: hidden;
}

.navbar {
  height: 55px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  https://matthewlein.com/tools/ceaser
  -webkit-transition: margin 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
  -moz-transition: margin 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
  -o-transition: margin 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
  transition: margin 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

#sidebar-wrapper .sidebar-heading {
  //height: 54px;
  padding: 0.8rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
} */